# Godot 4+ specific ignores
.godot/
*.translation

# Godot-specific ignores
.import/
export.cfg
build/
_build/*
!_build/.gdignore

# Mono-specific ignores
.mono/
data_*/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
*.lnk

# MS Office
~$*

# Blender
*.blend1

# Outsider ignore
_document/*.gd
_art_concept/*.gd
_dev/steamworks_sdk_*/**
addons/godotsteam/**/~*
